.centered4 {
   position: relative;
}

.centered4text {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   color: white;
   z-index: 1;
}

.backgroundimage {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.name4 {
   font-size: 7.5rem !important;
   color: #252128;
}

.subtitle3 {
   font-size: 4.5rem !important;
}
