<nav class="navbar navbar-expand-lg navbar-light p-lg-0">
    <div class="mx-lg-5"></div>
    <div class="container-fluid py-3">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mx-lg-5" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-lg-5">
          <li class="nav-item">
            <a class="nav-link active navbartext" aria-current="page" href="#">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbartext" href="#">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbartext" href="#">THE STUDIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbartext" href="#">SERVICE</a>
          </li>
          <li class="nav-item dropdown navbartext">
            <a class="nav-link dropdown-toggle text-white navbartext" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              BOOK ONLINE
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item navbartext" href="#">BEGINNERS</a></li>
              <li><a class="dropdown-item navbartext" href="#">PROFESSIONALS</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link navbartext" href="#">PLANS & PRICING</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbartext" href="#">CHALLENGES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbartext" href="#">CONTACT</a>
          </li>
        </ul>
        <a class="nav-link login" href="#">Log In</a>
        <fa-icon [icon]="fausercircle" class="login px-lg-2 fs-4"></fa-icon>
      </div>
    </div>
  </nav>