<div class="col-md-12 py-1 h-25 p-lg-0 m-lg-0 secondrowline">
    <div class="py-1"></div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 p-lg-0 centered2">
            <div class="text-container">
                <div class="name">BEGINNERS</div>
                <div class="subtitle my-lg-3">
                    <img src="assets/Images/secondrowicon.webp" alt="">
                </div>
            </div>
            <img src="assets/Images/secondrow2.webp" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 p-lg-0 centered2">
            <div class="text-container">
                <div class="name">PROFESSIONALS</div>
                <div class="subtitle my-lg-3">
                    <img src="assets/Images/secondrowicon.webp" alt="">
                </div>
            </div>
            <img src="assets/Images/secondrow1.webp" class="img-fluid" alt="">
        </div>
    </div>
</div>

