.secondrowline {
    background-color: #252128 !important;
}

.centered2 {
    position: relative;
    overflow: hidden;
}

.centered2 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    
}

.backgroundimage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    letter-spacing: 0.3em;
}

.name {
    font-size: 24px;
    font-weight: bold;
}

.subtitle img {
    width: 51px;
    height: 51px;
    object-fit: contain;
    object-position: center center;
}

.subtitle img {
    width: 51px;
    height: 51px;
    object-fit: contain;
    object-position: center center;
    transform: rotate(-90deg); /* Add this line to rotate the image */
}

.centered2:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(254, 97, 72, 0.5); /* Orange with 50% opacity */
    z-index: 1;
}
