<app-navbar></app-navbar>
<div class="container-fluid px-lg-0 py-lg-5 midcontiner">
    <div class="text-white py-lg-5 w-100 text-center">
       <h1 class="fs-1 Maintitle"> SERVICES</h1>
    </div>
    <div class="text-white py-lg-5 w-100 text-center">
        <h2 class="subtitle">TRAINING</h2>
    </div>

    <div class="col-md-12">
        <div class="row m-0">

            <div class="col-md-4">
                <div class="card w-100">
                    <img src="assets\Images\rowsix1.webp" alt="Avatar" style="width:100%">
                    <div class="container text-center py-lg-5">
                      <h4><b>Mens Batch</b></h4> 
                      <p>Group Personal Training</p> 
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card w-100">
                    <img src="assets\Images\rowsix2.webp" alt="Avatar" style="width:100%">
                    <div class="container text-center py-lg-5">
                      <h4><b>Single Batch</b></h4> 
                      <p>Personal Training</p> 
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card w-100">
                    <img src="assets\Images\rowsix3.webp" alt="Avatar" style="width:100%">
                    <div class="container text-center py-lg-5">
                      <h4><b>Womens Batch</b></h4> 
                      <p>Group Personal Training</p> 
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div class="p-lg-5 text-center">
        <span class="booknow px-lg-5 py-lg-3">BOOK NOW</span>
    </div>
    <div class="text-white py-lg-5 w-100 text-center">
        <h1 class="fs-1 subtitle"> PLANS & PRICING</h1>
     </div>
     <div class="col-md-12">
        <div class="row m-0">
            <div class="col-md-2 px-lg-0"></div>

            <div class="col-md-3">
                <div class="card w-100">
                    <div class="containe text-center py-lg-5">
                      <h4 class="text-black"><b>New Member Trial</b></h4> 
                      <h1 class="text-black subtitle py-lg-3">$36</h1> 
                      <p class="text-black">Get to know the studio and our classes</p>
                      <p class="text-black">Valid for 1 months</p>
                      <div class="p-lg-5 text-center">
                        <span class="booknow2 px-lg-5 py-lg-3">Select</span>
                    </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="card w-100">
                    <div class="container22 text-center py-lg-5">
                      <h4 class="text-black"><b>New Member Trial</b></h4> 
                      <h1 class="text-black subtitle py-lg-3">$36</h1> 
                      <p class="text-black">Get to know the studio and our classes</p>
                      <p class="text-black">Valid for 1 months</p>
                      <div class="p-lg-5 text-center">
                        <span class="booknow2 px-lg-5 py-lg-3">Select</span>
                    </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="card w-100">
                    <div class="containe text-center py-lg-5">
                      <h4 class="text-black"><b>New Member Trial</b></h4> 
                      <h1 class="text-black subtitle py-lg-3">$36</h1> 
                      <p class="text-black">Get to know the studio and our classes</p>
                      <p class="text-black">Valid for 1 months</p>
                      <div class="p-lg-5 text-center">
                        <span class="booknow2 px-lg-5 py-lg-3">Select</span>
                    </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
<app-roweight></app-roweight>