<div class="container-fluid p-0">
    <img src="assets/Images/row1.webp" class="img-fluid backgroundimage" alt="">
    <div class="centered text-white w-100 text-center">
        <div class="name">SHREYAS NEEL</div>
        <div class="subtitle w-100">TRAINING WITH THE SOLDIER!</div>
        <div class="d-inline-flex">
            <div class="p-lg-5">
                <span class="booknow px-lg-5 py-lg-3">BOOK NOW</span>
            </div>
            <div class="p-lg-5">
                <span class="membership px-lg-5 py-lg-3">MEMBERSHIP</span>
            </div>
        </div>
    </div>

</div>