<div class="col-md-12 py-1 h-25 p-lg-0 m-lg-0 secondrowline">
    <div class="py-3"></div>
</div>

<div class="container-fluid p-0">
    <img src="assets/Images/rowthird.webp" class="img-fluid backgroundimage" alt="">
    <div class="centered3 text-white w-100 text-center">
        <div class="name3 w-75">MEET THE</div>
        <div class="subtitle3 w-75">COACH</div>
        <div class="paragrah">
            <div class="paragrah3">
                <p class="booknow w-50 text-start">I'm a paragraph. Click here to add your own <br> text and edit me. It’s easy. Just click “Edit Text” <br> or double click me to add your own content and <br> make changes to the font. Feel free to drag and <br> drop me anywhere you like on your page. I’m a <br> great place for you to tell a story and let your <br> users know a little more about you.</p>
            </div>
            <div class="paragrah3">
                <p class="membership w-50 text-start">This is a great space to write long text about <br>  your company and your services. You can use <br> this space to go into a little more detail about <br> your company. Talk about your team and what <br> services you provide. Tell your visitors the story <br> of how you came up with the idea for your <br> business and what makes you different from  <br> your competitors. Make your company stand <br> out and show your visitors who you are.</p>
            </div>
        </div>
    </div>

</div>