.secondrowline {
    background-color: #252128 !important;
}
.centered3 {
     position: relative;
}
.backgroundimage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.centered3text{
    position: absolute;
    transform: translate(-20%, -110%);
    text-align: center;
    color: white;
    z-index: 1;
}

.name3 {
    font-size: 4.5rem !important;
}

.subtitle3 {
    font-size: 4.5rem !important;
}


.booknow,
.membership {
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    /* color: #FE6148 !important; */
}






