<div class="container-fluid ">
    <div class="row">
        <div class="col-lg-4 p-lg-0 centered6">
            <!-- <div class="text-container6">
                <div class="name6">BEGINNERS</div>
                <div class="subtitle6 my-lg-3">
                    <img src="assets/Images/secondrowicon.webp" alt="">
                </div>
            </div> -->
            <img src="assets/Images/rowsix1.webp" class="img-fluid" alt="">
        </div>

        <div class="col-lg-4 p-lg-0 centered6">
            <!-- <div class="text-container6">
                <div class="name6">PROFESSIONALS</div>
                <div class="subtitle6 my-lg-3">
                    <img src="assets/Images/secondrowicon.webp" alt="">
                </div>
            </div> -->
            <img src="assets/Images/rowsix2.webp" class="img-fluid" alt="">
        </div>

        <div class="col-lg-4 p-lg-0 centered6">
            <!-- <div class="text-container6">
                <div class="name6">PROFESSIONALS</div>
                <div class="subtitle6 my-lg-3">
                    <img src="assets/Images/secondrowicon.webp" alt="">
                </div>
            </div> -->
            <img src="assets/Images/rowsix3.webp" class="img-fluid" alt="">
        </div>
    </div>
</div>
<div class="container-fluid ">
    <div class="row">
        <div class="col-lg-4 p-lg-0 centered6">
            <!-- <div class="text-container6">
                <div class="name6">BEGINNERS</div>
                <div class="subtitle6 my-lg-3">
                    <img src="assets/Images/secondrowicon.webp" alt="">
                </div>
            </div> -->
            <img src="assets/Images/rowsix4.webp" class="img-fluid" alt="">
        </div>

        <div class="col-lg-4 p-lg-0 centered6">
            <!-- <div class="text-container6">
                <div class="name6">PROFESSIONALS</div>
                <div class="subtitle6 my-lg-3">
                    <img src="assets/Images/secondrowicon.webp" alt="">
                </div>
            </div> -->
            <img src="assets/Images/rowsix5.webp" class="img-fluid" alt="">
        </div>

        <div class="col-lg-4 p-lg-0 centered6">
            <!-- <div class="text-container6">
                <div class="name6">PROFESSIONALS</div>
                <div class="subtitle6 my-lg-3">
                    <img src="assets/Images/secondrowicon.webp" alt="">
                </div>
            </div> -->
            <img src="assets/Images/rowsix6.webp" class="img-fluid" alt="">
        </div>
    </div>
</div>
